@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
:root{
    /* ### Primary */

    --Violet: hsl(257, 40%, 49%);
    --SoftMagenta: hsl(300, 69%, 71%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--Violet);
    background-image: url("images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
main{
    width: 595px;
    height: 1448px;
    margin: 75px auto 40px;
}

/*SECTION 1 ---------------------------------*/
#section1{
    height: 724px;
}
#logo-container{
    width: 180px;
}
#mockup{
    width: 595px;
}
/*SECTION 2 ---------------------------------*/
#section2{
    height: 724px;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 46px;
    text-align: center;
    height: 170px;
}
#section2 p{
    font-size: 31px;
    text-align: center;
    height: 280px;
}
.btn-register{
    text-align: center;
    margin-bottom: 122px;
}
.btn-register a{
    display: inline-block;
    width: 400px;
    height: 86px;
    border-radius: 50px;
    font-size: 25px;
    color: var(--Violet);
    background-color: white;
    padding-top: 22px;
    text-decoration: none;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
.btn-register a:hover{
    background-color: var(--SoftMagenta);
    color: white;
}
.social-container{
    text-align: center;
}
.redes{
    width: 208px;
    display: inline-flex;
    justify-content: space-between;
}
.redes a{
    border: 2px solid white;
    text-decoration: none;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 28px;
    padding-top: 14px;
    cursor: pointer;
}
.redes a:hover{
    border-color: var(--SoftMagenta);
    color: var(--SoftMagenta);
}

/*FOOTER -----------------------------------*/
.attribution {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.attribution a {
    color: hsl(0, 0%, 100%);
}
/*VISTA DESKTOP ----------------------------*/
@media only screen and (min-width:1284px) {
    body{
        background-image: url("images/bg-desktop.svg");
        background-size: unset;
    }
    main{
        margin: 60px auto 0;
        width: 1284px;
        height: 700px;
        display: flex;
    }
    /*SECTION 1 ---------------------------------*/
    #section1{
        width: 753px;
        height: 700px;
    }
    #logo-container{
        height: 134px;
    }
    #mockup{
        width: 696px;
    }
    /*SECTION 2 ---------------------------------*/
    #section2{
        height: 700px;
        width: 531px;
    }
    h1{
        margin-top: 165px;
        height: 133px;
        font-size: 39px;
        text-align: left;
        padding-right: 93px;
    }
    #section2 p{
        height: 98px;
        font-size: 18px;
        text-align: left;
        padding-right: 17px;
    }
    .btn-register{
        text-align: left;
        margin-bottom: 179px;
    }
    .btn-register a{
        text-align: center;
        width: 200px;
        height: 58px;
        font-size: 20px;
        padding-top: 14px;
        
    }
    .social-container{
        text-align: right;
    }
    .redes{
        width: 156px;
    }
    .redes a{
        width: 44px;
        height: 44px;
        font-size: 20px;
        text-align: center;
        padding-top: 12px;
    }

}
